h1{
  font-family:"Brush Scrip M7", cursive;
  font-weight:bold;
  font-size:100px;
}

#banner{
  background-image: url("images/banner.png");
  color: white;
  background-size:100% 100%;
  padding:200px;
  text-align:center;
}

nav{
  background-color:deepskyblue;
  text-align:center;
}

nav a{
  color:black;
  font-family:arial;
  font-weight:bold;
  text-decoration:none;
  margin:0 10px 0 10px;
  flex:1;
  padding:10px;
  text-decoration: none;
}

nav a:hover{
  background-color:gold;
}

nav{
  background-color:deepskyblue;
  text-align:center;
}

.container{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#output{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.card{
  margin:10px;
  text-align:center;
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px 8px #01153E;
}

.fitted{
  max-width:200px;
  min-width:200px;
  border-radius:5px;
  box-shadow:2px 2px 2px gray;
}
