h1{
  font-family:"Brush Scrip M7", cursive;
  font-weight:bold;
  font-size:100px;
}

#banner{
  background-image: url("images/banner.png");
  color: white;
  background-size:100% 100%;
  padding:200px;
  text-align:center;
}

p{
	background: #01153E;
	border-style: outset;
	border-radius: 30px;
  border-color:deepskyblue;
  font-family:Comic Sans MS;
	font-size:24px;
	color:gold;
	margin:10px;
	padding:10px;
}

img{
  width: 75%;
  height: 90.25%;
  border-style: outset;
	border-radius: 30px;
  border-color:gold;

}
 
#Main-Content{
 display:flex;
 flex:1;
}

iframe{
  border-style: outset;
	border-radius: 40px;
  border-color:black;
  width:1050px;
  height:515px;
}

.sub2 p{
	background:#01153E;
	border-style: outset;
	border-radius: 30px;
  border-color:deepskyblue;
  font-family:Comic Sans MS;
	color:white;
	margin:15px;
	padding:10px;
}

.container{
  display:flex;
}

.center{
  justify-content:center;
  align-items: center;
}

#sub{
  justify-content:center;
  align-items: center;
  flex:1;
}


