h1{
  font-family:"Brush Scrip M7", cursive;
  font-weight:bold;
  font-size:100px;
}

#banner{
  background-image: url("images/banner.png");
  color:lightblue;
  background-size:100% 100%;
  padding:255px;
  text-align:center;
}

nav{
  background-color:deepskyblue;
  text-align:center;
  padding:20px;
}

